parameters:
    level: 8
    checkGenericClassInNonGenericObjectType: false
    parallel:
        processTimeout: 180.0
    paths:
        - ./src
        - ./tests
    ignoreErrors:
        - '/Access to an undefined property Illuminate\\Foundation\\Auth\\User/'

