parameters:
    level: 8
    parallel:
        processTimeout: 180.0
    paths:
        - ./src
        - ./tests
    ignoreErrors:
        - '/Parameter #1 \$attachment of closure expects array/'
        - '/Cannot call method assertExitCode\(\) on Illuminate\\Testing\\PendingCommand\|int/'
        - '/Flagr\\Client\\Model\\EvalContext::setEntityContext\(\) expects object, array given/'

