parameters:
    level: 8
    parallel:
        processTimeout: 180.0
    paths:
        - ./src
        - ./tests
    ignoreErrors:
        - '/Cannot call method assertExitCode\(\) on Illuminate\\Testing\\PendingCommand\|int/'
        - '/EvaluationBatchRequest::setEntities\(\) expects array/'
        - '/Access to an undefined property Illuminate\\Foundation\\Auth\\User/'

